@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  background-color: beige;
}

.center {
}

.auth-form {
  margin-top: 10px;
}

.loader {
  margin: 100px auto;
}

/* ... */

/* .footer {
position:absolute;
left: 42%;
bottom:0;
} */

/* .header {
  background-color: lightsalmon;
  position: absolute;
  left: 0%;
  padding-left: 2rem;
  width: 100%;
  color: azure;
  font-family: 'Lilita One';
  
} */

